.Home-body {
    text-align: center;

    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 20vmin;
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }
}